<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% if LANGUAGE_CODE == 'en' %}
<html lang="en">
{% else %}
<html lang="kr">
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>파이콘 한국 2018 - Teaser</title>
    <meta property="og:site_name" content="파이콘 한국 2018">
    <meta property="og:title" content="파이콘 한국 2018">
    <meta property="og:url" content="https://www.pycon.kr/2018/">
    <meta property="og:image" content="https://www.pycon.kr/2018/static/image/pyconkr-2018-cover.png">
    <meta property="og:description" content="파이콘 한국 2018: 8월 15, 17~19일 코엑스">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="icon" type="image/png" href="{% static 'image/favicon2017.ico' %}">

    <link href="{% static 'components/slick-carousel/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'components/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet">

    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <link href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/pyconkr.css" %}" rel="stylesheet">
    <link href="{% static "css/pyconkr-media.css" %}" rel="stylesheet">

    <link href="{% static 'css/pyconkr-teaser.css' %}" rel="stylesheet" type="text/css">

    {% block head-include %}
    {% endblock %}
</head>
<body>
{% block nav %}{% include "nav.html" %}{% endblock %}
{% if index %}
<div class="transparent-gradient-bg">
    <div class="header-bg tilt-clock"></div>
    <div class="header-bg tilt-clock"></div>
</div>
<div class="header-bg gradient-bg tilt-counterclock">
    <div class="tilt-clock">
        <div class="bg-lines tilt-counterclock">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <header class="text-center">
            <h1>DIVE <span>INTO</span><br>DIVERSITY</h1>
            <h2>파이콘 한국 2018</h2>
            <p>
                <span><b>스프린트</b> 2018.08.15(수), 17(금)</span>
                <span><b>튜토리얼</b> 2018.08.17(금)</span>
                <span><b>컨퍼런스</b> 2018.08.18 - 19(토-일)</span>
            </p>
            <p><b>서울, 코엑스</b></p>
        </header>
    </div>
</div>
{% endif %}

<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>

{% block unboxed_content %} {# for index ^^ #}
{% endblock %}


{% include "footer.html" %}

</body>
</html>
