{% extends "base.html" %}

{% load staticfiles %}


{% block head-include %}
<script src="{% static 'components/slick-carousel/slick/slick.min.js' %}"></script>
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=sMW7tOAADWjqWohLWnR4"></script>
<script src="{% static 'js/teaser.js' %}"></script>
{% endblock %}

{% block notice %}
<div class="index">
    <div class="box-container" id="notice">
        <div class="box notice-box">
            <img class="badge-dashed-logo" src="{% static 'image/dashed-logo.png' %}">
            <div class="js_slick">
                <div class="box-slick">
                    <div class="title-text title-underline">재정지원 신청안내</div>
                    <p class="desc-text">
                        파이콘 한국 2018의 재정지원 신청이 시작되었습니다.<br>
                        파이콘에 참가하고 싶은데 비용 때문에 고민이셨다면<br>
                        아래의 재정지원 가이드를 읽고 지원을 해주시기 바랍니다.<br>
                        <a href="https://www.facebook.com/pyconkorea/posts/2084710378457837">✏️ 재정지원 공지</a>
                    </p>
                    <p class="sub-title-text">신청 기간 : ~ 2018년 7월 14일 (토) 23시 59분 KST 까지</p>
                    <p class="sub-title-text">대상자 : 티켓 구매자 한정</p>
                    <a class="submit-btn margin-top-20" href="https://bit.ly/2sirUwl">재정지원 신청하기</a>
                </div>
                <div class="box-slick">
                    <div class="title-text title-underline">튜토리얼/스프린트 진행자 모집</div>
                    <p class="desc-text">
                        파이콘 한국 2018에서 튜토리얼/스프린트 진행자를 모집합니다.<br>
                        튜토리얼과 스프린트가 생소하신 분들은<br>
                        파이콘 한국 2017의 스프린트, 튜토리얼 소개글을 읽어보세요 :) <br>
                        <a href="http://blog.pycon.kr/2017/07/11/tutorial-and-sprint/">✏️ 스프린트/튜토리얼의 대장이 되어보자</a>
                    </p>
                    <p class="sub-title-text">모집 기간 : 5월 17일(목) ~ 6월 21일(목)</p>
                    <p class="sub-title-text">스프린트 : 언어 무관</p>
                    <p class="sub-title-text">튜토리얼 : 파이썬 한정</p>
                    <a class="submit-btn margin-top-20" href="https://goo.gl/forms/7gVkG46WsQ3JM7Ok1">진행자 신청하기</a>
                </div>
                <div class="box-slick">
                    <div class="title-text title-underline">후원사 모집</div>
                    <p class="desc-text">
                        파이콘 후원을 통해 파이썬 커뮤니티의 성장을 지원하고<br>
                        파이콘 한국 2018의 공식 스폰서로서의 특별한 가치를 갖는 데<br>
                        관심이 있는 후원사를 모십니다.<br>
                        <a href="https://www.facebook.com/pyconkorea/posts/2081845105411031">✏️ 후원 안내</a>
                    </p>
                    <a class="submit-btn margin-top-20" href="mailto:sponsor@pycon.kr">후원 문의</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block unboxed_content %}
<div class="index">
    <div class="box-container box-top-margin" id="venue">
        <div class="title-text title-underline">장소</div>
        <p class="title-text">서울 코엑스 그랜드볼룸</p>
        <div class="map-box-container">
            <img class="badge-dotted-logo" src="{% static 'image/dotted-logo.png' %}">
            <div class="box map-box z-index-1" id="map">
            </div>
        </div>
    </div>

    <div class="box-container">
        <div class="title-text title-underline">행사 상세</div>
        <p class="desc-text">
            파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 장입니다.<br>
            아직 티켓 판매 일정은 정해지지 않았습니다. 추후 공식 페이스북, 트위터 등을 통해서 공지할 예정입니다.
        </p>
    </div>

    <div class="box-container teaser-bg slogan-bg" id="slogan">
        <div class="mask-black"></div>
        <div class="mask-content">
            <div class="title-text title-underline white-text white-underline">슬로건</div>
            <div class="slogan-text white-text">"Dive into Diversity<br>다양성에 빠지다"</div>
            <div class="box slogan-box">
                <img class="badge-incline-logo" src="{% static 'image/incline-logo.png' %}">
                <p class="desc-text slogan-desc-text white-text">
                    파이콘 한국 2018은 "Dive into Diversity 다양성에 빠지다" 라는 슬로건으로 진행됩니다.<br><br>
                    파이썬 커뮤니티는 다양한 기술, 개성 및 경험을 갖추고 있는 전세계 구성원들이 서로의 차이를 존중하고,
                    다른 견해에 귀를 기울이며, 올바른 상호작용을 통해 성장하는 커뮤니티를 지향해왔습니다.<br><br>
                    파이콘 한국 2018에서는 다양한 사람들이 다양한 상황과 분야에서 다양한 의도를 가지고 파이썬과 만났던 사례를 공유합니다.
                    또한 우리가 원하는 것을 이루고 문제를 해결하는 도구로서, 파이썬이 어떻게 쓰이고 있는지 조명하려고 합니다.
                    파이콘 한국 2018을 통해 서로 다른 견해와 경험을 접하며, 생각의 경계를 허물고 새로운 아이디어를 발견하는 계기가 되었으면 합니다.
                </p>
            </div>
        </div>
    </div>

    <div class="box-container" id="contact">
        <div class="title-text title-underline">문의&공식계정</div>
        <div>파이콘 한국 2018에 대한 모든 문의는 아래의 공식 연락처로 주시기 바랍니다.</div>
        <div class="contact-box">
            <table class="table-contact">
                <tr>
                    <td>
                        이메일<br>
                        support@pycon.kr
                    </td>
                    <td>
                        페이스북<br>
                        <a href="https://www.facebook.com/pyconkorea/">https://www.facebook.com/pyconkorea/</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        스폰서<br>
                        sponsor@pycon.kr
                    </td>
                    <td>
                        트위터<br>
                        <a href="https://twitter.com/pyconkr">https://twitter.com/pyconkr</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}