{% extends "base.html" %}

{% load staticfiles %}


{% block head-include %}
<script src="{% static 'components/slick-carousel/slick/slick.min.js' %}"></script>
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=sMW7tOAADWjqWohLWnR4"></script>
<script src="{% static 'js/teaser.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
{% endblock %}

{% block content %}

{% if recent_announcements %}
<section class="box-section">
  <div class="js_slick">
    {% for announcement in recent_announcements %}
    <div class="box-slick-wrap">
      <div class="box-slick">
        <div class="title-text title-underline">{{ announcement }}</div>
        <div class="desc-text">
          {{ announcement.desc|safe }}
        </div>
        <a class="submit-btn" href="{% url 'announcement' announcement.id %}">자세히 보기</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="box-section">
  <h3>행사 상세</h3>
  <p>
    파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 장입니다.<br><br>

    <h4>스프린트 (8/15, 8/17)</h4>
    <span>관심있는 오픈소스 프로젝트를 같은 장소에 모여 집중적으로 개발하는 자리입니다</span><br>
    <a class="btn btn-info" href="{% url 'sprint' %}" tabindex="0">스프린트 참가하기</a><br><br>

    <h4>튜토리얼 (8/17)</h4>
    <span>초보자들을 위해, 또는 새로운 것을 접하는 사람들을 위해 진행하는 교육 프로그램입니다.</span><br>
    <a class="btn btn-info" href="{% url 'tutorial' %}" tabindex="0">튜토리얼 참가하기</a><br><br>

    <h4>컨퍼런스 (8/18 - 8/19)</h4>
    <span>파이썬 사용 사례, 지식 공유를 위한 행사입니다.<br> 컨퍼런스의 자세한 시간표는 <a href="{% url 'schedule' %}">프로그램 > 세부일정</a> 에서 확인하실 수 있습니다.</span><br>
    <a class="btn btn-info" href="{% url 'registration_index' %}" tabindex="0">컨퍼런스 티켓 구매하기</a><br><br>

    이 외의 모든 공지사항은 <a href="https://www.facebook.com/pyconkorea/">공식 페이스북</a> 과 이곳을 통해 공지될 예정입니다.
  </p>
</section>

<section class="box-section">
  <h3>슬로건</h3>
  <p>"Dive into Diversity - 다양성에 빠지다"</p>
  <p>
    파이콘 한국 2018은 "Dive into Diversity 다양성에 빠지다" 라는 슬로건으로 진행됩니다.<br><br>
    파이썬 커뮤니티는 다양한 기술, 개성 및 경험을 갖추고 있는 전세계 구성원들이 서로의 차이를 존중하고,
    다른 견해에 귀를 기울이며, 올바른 상호작용을 통해 성장하는 커뮤니티를 지향해왔습니다.<br><br>
    파이콘 한국 2018에서는 다양한 사람들이 다양한 상황과 분야에서 다양한 의도를 가지고 파이썬과 만났던 사례를 공유합니다.
    또한 우리가 원하는 것을 이루고 문제를 해결하는 도구로서, 파이썬이 어떻게 쓰이고 있는지 조명하려고 합니다.
    파이콘 한국 2018을 통해 서로 다른 견해와 경험을 접하며, 생각의 경계를 허물고 새로운 아이디어를 발견하는 계기가 되었으면 합니다.
  </p>
</section>

<section class="box-section">
  <h3>장소</h3>
  <h4>서울 코엑스 그랜드볼룸</h4>
  <div class="map-box-container">
    <div class="box map-box z-index-1" id="map">
    </div>
  </div>
</section>

<section class="box-section">
  <h3>문의&공식계정</h3>
  <p>파이콘 한국 2018에 대한 모든 문의는 아래의 공식 연락처로 주시기 바랍니다.</p>
  <p><b>이메일</b> <a href="mailto:support@pycon.kr">support@pycon.kr</a></p>
  <p><b>페이스북</b> <a href="https://www.facebook.com/pyconkorea/">https://www.facebook.com/pyconkorea/</a></p>
  <p><b>스폰서</b> <a href="mailto:sponsor@pycon.kr">sponsor@pycon.kr</a></p>
</section>
{% endblock %}