{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block head-include %}
<link href="{% static 'css/young-coder.css' %}" rel="stylesheet">
<script src="{% static 'js/young-coder.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="board">
    <div class="board-inner">
      <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
        <li class="active">
          <a href="#about_youngcoder" data-toggle="tab" title="welcome">
            <span class="round-tabs one">
              <i class="glyphicon glyphicon-home"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#1st_program" data-toggle="tab" title="profile">
            <span class="round-tabs two" style="">
              <span>10</span><i class="glyphicon glyphicon-arrow-up"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#2nd_program" data-toggle="tab" title="bootsnipp goodies">
            <span class="round-tabs three">
              <span>14</span><i class="glyphicon glyphicon-arrow-up"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#faq" data-toggle="tab" title="blah blah">
            <span class="round-tabs four">
              <i class="glyphicon glyphicon-bullhorn"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="about_youngcoder">
        <h3 class="head text-center">영코더란?</h3>
        <p class="narrow text-center">
        <div>
          <div><b style="background-color: inherit;">여러분, 안녕하세요!</b></div>
          <div>여러분의 부모님, 삼촌, 이모께서 오랜 시간 동안 컴퓨터 앞에 앉아있으시는 이유가 궁금했던 적이 있나요?&nbsp;</div>
          <div>혹은 즐겨하는 게임이나 자주 방문하는 웹사이트, 스마트폰의 애플리케이션이 어떻게 동작하는 지 궁금하지 않으세요?</div>
          <div><br></div>
          <div>초등학교 5학년부터 고등학생까지 소프트웨어란 무엇이고, 어떻게 동작하는 지, 모두가 사랑하는 "파이썬"이라는 언어를 통해 함께 알아봅시다!</div>
          <div><br></div>
          <div><b style="background-color: inherit;">왜 프로그래밍을 배우나요?</b></div>
          <div>여러분들이 모두 개발자가 될 필요는 없어요. 하지만 오늘날 프로그래밍 언어를 이해하는 것은&nbsp;<span class="il">영</span>어를 잘하는 것만큼 여러분들을 더 훌륭한
            사람으로 만들어줄 수 있답니다.
          </div>
          <div>또한 프로그래밍을 배운다는 것은 컴퓨터가 어떻게 동작하는지, 그리고 IT가 세상을 어떻게 변화시켜나가는 지 이해하게 만들어줍니다.</div>
          <div><span class="il">영</span>어를 쓰는 사람들의 문화와 삶의 방식을 이해할 수 있게 되는 것 처럼요!</div>
          <div><br></div>
          <div>게다가 프로그래밍이라는 것은 상당히 합리적이고 논리적이어서, 이것을 배우면 여러분들에게 어떠한 문제가 닥쳐도 가장 알맞은 해결방법을 더욱 정확하고 빠르게 찾을 수 있는 사고력을
            길러준답니다.
          </div>
          <div><br></div>
          <div><b>무엇을 배울까요?</b><br></div>
          <div>마치&nbsp;<span class="il">영</span>어를 배우듯 쉽게 배울 수 있는 "파이썬"은 굉장히 강력한 프로그래밍 언어입니다.&nbsp;</div>
          <div>컴퓨터 프로그램 작성, 웹 사이트 및 게임 제작, 과학 및 수학 컴퓨팅 등의 작업에 사용되고 있고, 구글이나 카카오 등의 훌륭한 서비스들이 파이썬으로 만들어지고 있습니다.</div>
          <div><br></div>
          <div>우리가 만나는 몇 시간 동안 이 파이썬을 활용하여 컴퓨터와 대화하는 방법을 배우게 될 것입니다.&nbsp;</div>
          <div>프로그래밍을 전혀 몰라도 상관없어요~ 숫자, 문자, 문자열, 목록 등 파이썬의 간단한 데이터 유형을 배우는 것으로 시작할 것이거든요.</div>
          <div>그래도 긴장은 하셔야 해요. 조건문, 반복문 등 약간 더 어려운 것도 살펴볼 예정이거든요.&nbsp;</div>
          <div>마지막으로, 우리는 웹 사이트 및 간단한 게임을 만들어 보면서 이 세상을 이해할 수 있는 더 넓은 시야를 갖게 될 것입니다.</div>
          <div><b><br></b></div>
        </div>
        </p>
      </div>
      <div class="tab-pane fade" id="1st_program">
        <h3 class="head text-center">[10세 이상 권장] 구글 스마트 스피커 만들기</h3>
        <ul>
          <li>일시 : 2018년 8월 18일(토) ~ 8월 19일(일) (시간대별 진행, 오전,오후 반은 동일 내용으로 진행됩니다.)</li>
          <li>참가비 : 3만 5천원 (라즈베리파이 및 AIY Kit 비용 일부 포함)</li>
            <li>준비물 : 모든 준비물은 파이콘 한국에서 제공합니다.</li>
            <li>참가 조건 : 영코더 프로그램은 파이썬에 관심있는 누구나 참여가 가능합니다.</li>
            <li>장소 : 코엑스 그랜드볼룸 2층 205B호</li>
            <li>문의 사항은 program@pycon.kr 로 연락부탁드립니다.</li>
        </ul>
        <hr>
        <div class="container">
          <div class="col-sm-6">
            <h4>8월 18일 시간표</h4>
            <div>
              <table class="table table-bordered table-striped">
                <thead>
                <th>시간</th>
                <th>내용</th>
                </thead>
                <tr>
                  <td>10:00</td>
                  <td rowspan="3">
                    오전반<br>
                    <a href="{% url 'registration_payment' 18 %}" class="btn btn-sm btn-primary btn-outline-rounded">
                      신청하기
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>11:00</td>
                </tr>
                <tr>
                  <td>12:00</td>
                </tr>
                <tr>
                  <td>13:00</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>14:00</td>
                  <td rowspan="3">
                    오후반<br>
                    <a href="{% url 'registration_payment' 19 %}" class="btn btn-sm btn-primary btn-outline-rounded">
                      신청하기
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>15:00</td>
                </tr>
                <tr>
                  <td>16:00</td>
                </tr>
                <tr>
                  <td>17:00</td>
                  <td>-</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>8월 19일 시간표</h4>
            <div>
              <table class="table table-bordered table-striped">
                <thead>
                <th>시간</th>
                <th>내용</th>
                </thead>
                <tr>
                  <td>10:00</td>
                  <td rowspan="3">
                    오전반<br>
                    <a href="{% url 'registration_payment' 20 %}" class="btn btn-sm btn-primary btn-outline-rounded">
                      신청하기
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>11:00</td>
                </tr>
                <tr>
                  <td>12:00</td>
                </tr>
                <tr>
                  <td>13:00</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>14:00</td>
                  <td rowspan="3">
                    오후반<br>
                    <a href="{% url 'registration_payment' 21 %}" class="btn btn-sm btn-primary btn-outline-rounded">
                      신청하기
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>15:00</td>
                </tr>
                <tr>
                  <td>16:00</td>
                </tr>
                <tr>
                  <td>17:00</td>
                  <td>-</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <h4>프로그램</h4>
          <ul>
            <li>AIY kit의 LED를 켜고 꺼보기</li>
            <ul>
              <li>차근차근 따라서 코드를 입력하고, 실행해 보는 과정</li>
            </ul>
            <li>버튼을 눌렀을 때, LED가 깜빡거리도록 해보기</li>
            <ul>
              <li>버튼 눌렀을 때에 대한 과정</li>
              <li>응용: 버튼을 눌렀을 때, 소리도 나도록 해보기</li>
            </ul>
            <li>버튼을 누를때 마다, 다른 소리가 나도록 하기</li>
            <ul>
              <li>if 문과 간단한 대입, 연산자 배움</li>
              <li>동물소리들, 자동차 소리, 방구 소리 등등 개성있는 소리 출력</li>
            </ul>
            <li>음성으로 LED를 켜고 끄도록 해보기</li>
            <ul>
              <li>음성 API 활용</li>
            </ul>
            <li>음성으로 원하는 소리를 출력하도록 하기</li>
            <ul>
              <li>지금까지 배운 것 다시 활용</li>
              <li> 예) car -> 자동차 소리 출력. dog -> 강아지 짖는 소리 출력</li>
            </ul>
            <li>음성으로 하는 가위바위보 게임 만들기</li>
            <ul>
              <li>if문, 대입, 연산자를 활용</li>
              <li>LED가 두번 켜졌다 꺼지고 세번째 켜질때, 가위/바위/보 중 하나를 외쳐서 컴퓨터와 겨루는 게임</li>
            </ul>
            <li>보너스: 음성으로 네이버 검색 하기.</li>
            <li>보너스: AIY kit으로 할 수 있는 것들과 사례 소개</li>
          </ul>
        </div>
        <hr>
        <div>
          <h4>주최 및 진행</h4>
          <div>
            <div class="text-center">
              <img
                src="https://codeclubkorea.org/wp-content/themes/cci-community-wordpress-theme/bower_components/code-club/dist/images/code-club-logo.svg"
                class="youngcoder-logo">
            </div>
            <br>
            <h4>코드클럽위원회 (<a href="https://codeclubkorea.org/about/">https://codeclubkorea.org/about/</a>)</h4>
            <p>'코드클럽(Code Club)'은 영국 라즈베리파이재단의 무료 소프트웨어 교육 프로그램으로, 전 세계 어린이들이 처해진 환경에 상관없이 누구나 동일하게 소프트웨어 교육을 받을 수 있도록
              선생님과
              자원봉사자들에게 교육 커리큘럼과 운영 시스템을 무상으로 제공하고 있습니다.
            </p>
              <div class="text-center">
                  <img src="https://www.pycon.kr/2018/media/profile/codeclub.jpg">
              </div>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="2nd_program">
        <h3 class="head text-center">[14세 이상 권장] Python 기본과 PyQT로 데스크탑 어플리케이션을 만들어보자</h3>
        <ul>
          <li>일시 : 2018년 8월 18일(토) ~ 19일(일)</li>
          <li>시간 : 오전 10시 ~ 오후 5시 (점심시간: 12:00 ~ 13:00)</li>
          <li>참가비 : 0원(노쇼방지용 1천원은 행사 이후 환불됩니다)</li>
            <li>준비물 : 모든 준비물은 파이콘 한국에서 제공합니다.</li>
          <li>참가 조건 : 영코더 프로그램은 파이썬에 관심있는 누구나 참여가 가능합니다.</li>
          <li>장소 : 코엑스 그랜드볼룸 2층 201호</li>
            <li>문의 사항은 program@pycon.kr 로 연락부탁드립니다.</li>
        </ul>
        <hr>
        <div class="container">
          <div class="col-sm-6">
            <h4>8월 18일 시간표</h4>
            <div>
              <table class="table table-bordered table-striped">
                <thead>
                <th>시간</th>
                <th>내용</th>
                </thead>
                <tr>
                  <td>10:00</td>
                  <td rowspan="7">
                    1일차 커리큘럼<br>파이썬의 기초부터 Class까지 단번에!
                  </td>
                </tr>
                <tr>
                  <td>11:00</td>
                </tr>
                <tr>
                  <td>12:00</td>
                </tr>
                <tr>
                  <td>13:00</td>
                </tr>
                <tr>
                  <td>14:00</td>
                </tr>
                <tr>
                  <td>15:00</td>
                </tr>
                <tr>
                  <td>16:00</td>
                </tr>
                <tr>
                  <td>17:00</td>
                  <td>-</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>8월 19일 시간표</h4>
            <div>
              <table class="table table-bordered table-striped">
                <thead>
                <th>시간</th>
                <th>내용</th>
                </thead>
                <tr>
                  <td>10:00</td>
                  <td rowspan="7">
                    2일차 커리큘럼<br>PyQt를 활용한 Python GUI 프로그래밍!
                  </td>
                </tr>
                <tr>
                  <td>11:00</td>
                </tr>
                <tr>
                  <td>12:00</td>
                </tr>
                <tr>
                  <td>13:00</td>
                </tr>
                <tr>
                  <td>14:00</td>
                </tr>
                <tr>
                  <td>15:00</td>
                </tr>
                <tr>
                  <td>16:00</td>
                </tr>
                <tr>
                  <td>17:00</td>
                  <td>-</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="{% url 'registration_payment' 17 %}" class="btn btn-sm btn-primary btn-outline-rounded">
            신청하기
          </a>
        </div>
        <hr>
        <div>
          <h4>상세 프로그램</h4>
          <div class="container">
            <div class="col-sm-6">
              <ul>
                <li>1일차</li>
                <ul>
                  <li>시작하기</li>
                  <ul>
                    <li>프로그래밍은 무엇일까요?</li>
                    <li>프로그래밍으로 무엇을 할 수 있나요?</li>
                  </ul>
                  <li>변수와 입출력</li>
                  <ul>
                    <li>이름/나이 소개 하기(실습)</li>
                    <li>입출력 해보기(실습)</li>
                    <li>변수(type과 형변환)</li>
                    <li>필통에 필기구 넣기(실습)</li>
                  </ul>
                  <li>연산</li>
                  <ul>
                    <li>산술/비교/논리/할당 연산</li>
                    <li>체력 올리기(실습)</li>
                  </ul>
                  <li>제어구조</li>
                  <ul>
                    <li>제어문(if, elif, else)</li>
                    <li>반복문(for, while)</li>
                    <li>어머니의 용돈(실습)</li>
                    <li>청소당번 정하기(실습)</li>
                  </ul>
                  <li>함수</li>
                  <ul>
                    <li>지역/전역 변수</li>
                    <li>함수의 형태와 기능</li>
                    <li>수학 수행평가(실습)</li>
                  </ul>
                  <li>자료구조</li>
                  <ul>
                    <li>문자열</li>
                    <li>리스트, 딕셔너리</li>
                    <li>우리반 학생들을 리스트에 넣기(실습)</li>
                    <li>체육대회 대표선수 뽑기(실습)</li>
                    <li>생일이 22일 친구(실습)</li>
                  </ul>
                  <li>심화</li>
                  <ul>
                    <li>파일 입출력 및 연습문제</li>
                    <li>class 및 class 연습문제</li>
                  </ul>
                </ul>
              </ul>
            </div>
            <div class="col-sm-6">
              <li>2일차</li>
              <ul>
                <li>GUI 프로그래밍이란</li>
                <li>PyQt의 구조</li>
                <li>간단한 버튼 만들기</li>
                <li>버튼에 기능 입히기</li>
                <li>up, Down 게임 만들기</li>
                <li>메뉴바 / 툴바 / 체크박스 만들기</li>
                <li>D-day 방학 프로그램 만들기</li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <h4>주최 및 진행</h4>
          <div>
            <div class="text-center">
              <img
                src="https://statics.goorm.io/logo/logo_codigm_color.svg"
                class="youngcoder-logo">
            </div>
            <br>
            <h4>코다임</h4>
            <p>코다임은 IT기술 교육 서비스 “구름EDU”(<a href="https://edu.goorm.io">https://edu.goorm.io</a>), <br>코딩테스트 서비스
              “구름TEST”(<a href="https://codingtest.goorm.io">https://codingtest.goorm.io</a>),<br> 클라우드 통합개발환경 서비스
              “구름IDE”(<a href="https://ide.goorm.io">https://ide.goorm.io</a>) 을 제공하는 스타트업입니다.<br><br>
              “구름” 서비스들을 통해 언제 어디서나 SW를 배우고 만들어보세요!</p>
          </div>
          <br>
          <h4>강의자 소개</h4>
          <div>
            <h4>이호준</h4>
            <ul>
              <li>바울랩ICT기술연구원 대표</li>
              <li>바울랩ICT컴퓨터학원 대표</li>
              <li>사도출판 대표</li>
              <li>코딩도장 튜토리얼로 배우는 Python Object 外 18권 집필</li>
              <li>카카오 알고리즘 산책 등 다수의 사회공헌 프로그램 활동</li>
              <li>제주 코딩 거버넌스 협의체(민, 관, 학) 활동</li>
              <li>제주 코딩 베이스캠프, 제주 코딩 Festival, 제주 코딩 해커톤 운영</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="faq">
        <h3 class="head text-center">FAQ</h3>
        <ol>
          <li>점심식사가 제공되나요?</li>
          <p>영코더 프로그램은 기본적으로 점심식사가 제공되지않습니다. <br>
            3시간 이상의 프로그램인 경우 컨퍼런스와 동일하게 12:00 - 13:00 점심시간을 가지게 되며 보호자와 함께 점심식사를 하시고 돌아오시면 됩니다.</p>

          <li>주차권이 제공되나요?</li>
          <p>주차권은 별도로 제공되지 않습니다.</p>

          <li>[10세 이상 권장] 구글 스마트 스피커 의 키트는 반납해야 하나요?</li>
          <p>실습 후 개인이 가져갈 수 있으며 이를 위해 참가비에 라즈베리파이 및 AIY Kit 비용이 일부 포함되었음을 알려드립니다.</p>
        </ol>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}
