{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<div>
  <p>파이콘 한국 2018 을 후원해주신 개인 후원자 분들의 명단입니다. 후원해주셔서 감사합니다.</p>
  <div class="margin-top-40">
    <ul class="patrons media-list">
      {% for obj in object_list %}
        {% with obj_name=obj.user.profile.name|default:obj.name %}
          <li class="media">
            <div class="pull-left">
              {% thumbnail obj.user.profile.image "128x128" crop="center" as im %}
              <img class="media-patron" src="{{ im.url }}" alt="photo of {{ obj_name }}">
              {% empty %}
              <img class="media-patron" src="{% static 'image/anonymous.png' %}">
              {% endthumbnail %}
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                {{ obj_name }}
                {% if obj.user.profile.organization %}
                / {{ obj.user.profile.organization }}
                {% elif obj.company %}
                / {{ obj.company }}
                {% endif %}
              </h4>
              {% if obj.user.profile.bio %}
              <div class="bio">
                {{ obj.user.profile.bio|safe }}
              </div>
              {% endif %}
            </div>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
