{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="row profile-detail">
    {% if profile.name %}
        <div class="row">
            <div class="col-md-6">
                {% if profile.image %}
                    <img src="/media/{{ profile.image }}" width="300">
                {% else %}
                    <img src="{% static 'image/pycon_profile.png' %}" width="300">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>
                    {{ profile.name }}
                    <a href="{% url 'profile_edit' %}"><i class="fa fa-pencil-square-o"></i></a>
                </h3>

                {% if profile.organization %}
                  <h4>{{ profile.organization }}</h4>
                {% endif %}
                {% if profile.phone %}
                  <p>{{ profile.phone }}</p>
                {% endif %}
                <div>{{ profile.bio|safe }}</div>
            </div>
        </div>

        <hr>
        <h2>{% trans 'Registration' %}</h2>
        <div>
            <h4>Ticket</h4>
            {% if is_registered %}
            <p>{% trans "Thank you for registration." %} <a href="{% url 'registration_status' %}">{% trans "Check Registration Status" %}</a></p>
            {% else %}
            <p>{% trans "You didn't have a ticket." %} <a href="{% url 'registration_index' %}">{% trans "Purchase a ticket" %}</a></p>
            {% endif %}

            <h4>Tutorial/Sprint</h4>
            <p>{% trans "Please be a tutorial speaker at PyCon." %} <a href='https://docs.google.com/forms/d/e/1FAIpQLSeKEQ1Wmgd4YDig4nYXSHRwSBpFCJc5L5er3ndMHArdpmuESw/viewform'>{% trans "Submit a new proposal" %}</a></p>

            <h4>Sprint</h4>
            <p>{% trans "Please be a sprint leader at PyCon." %} <a href='https://docs.google.com/forms/d/e/1FAIpQLSeKEQ1Wmgd4YDig4nYXSHRwSBpFCJc5L5er3ndMHArdpmuESw/viewform'>{% trans "Submit a new proposal" %}</a></p>
        </div>
    {% endif %}
</div>
{% endblock %}
