{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="row profile-detail margin-top-40">
    {% if profile.name %}
        <div class="row">
            <div class="col-md-2">
                {% if profile.image %}
                    <img src="/media/{{ profile.image }}" width="100">
                {% else %}
                    <img src="{% static 'image/pycon_profile.png' %}" width="100">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4>
                    {{ profile.name }}
                    <a href="{% url 'profile_edit' %}"><i class="fa fa-pencil-square-o"></i></a>
                </h4>

                {% if profile.organization %}
                  <h5>{{ profile.organization }}</h5>
                {% endif %}
                {% if profile.phone %}
                  <p>{{ profile.phone }}</p>
                {% endif %}
                <div>{{ profile.bio|safe }}</div>
            </div>
        </div>

        <hr>
        <h3>{% trans 'My Tickets' %}</h3>
        <div>
            {% for ticket in tickets %}
            <div class="ticket-wrap">
                <div class="ticket-box">
                    <div class="ticket {{ ticket.option.event_type }} ticket-left">
                        <div class="ticket-title ticket-header">{{ ticket.option.event_type|title }}</div>
                        <p class="info-title">NAME</p>
                            <span class="info-text">{{ ticket.name }}</span>

                            <p class="info-title">TICKET OPTION</p>
                            <span class="info-text">{{ ticket.option.name }}</span><br>

                            <p class="info-title">TICKET CREATED</p>
                            <span class="info-text">
                                {% if ticket.payment_status == 'paid' %}
                                    {{ ticket.created }}
                                {% else %}
                                <span class="status-text">{% trans 'Ready For Paid' %}</span>
                                {% endif %}
                            </span><br>

                            <span class="info-text"><a href="{% url 'registration_status' ticket.option.id %}">{% trans "Check Registration Status" %}</a></span>
                    </div>
                    <div class="ticket {{ ticket.option.event_type }} ticket-right">
                        <div class="ticket-title ticket-header">PyCon.KR</div>
                        <span class="info-text">
                            {% if ticket.option.event_type == 'conference' %}
                                <p class="info-title">PERIOD</p>
                                2018.08.18 - 19
                            {% else %}
                                <p class="info-title">DETAIL</p>
                                <a href="{% url ticket.option.event_type %}">show more</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h3>{% trans 'My Sprint' %}</h3>
        <div>
          <ul>
             {% for join in joined_sprint %}
            <li>
                <a href="{% url 'sprint' join.sprint.id %}">{{ join.sprint }}</a>
                <ul>
                    <li>
                        <a href="{% url 'certificates_sprint' %}">스프린트 참가증 발급</a>
                    </li>
                </ul>
            </li>
            {% endfor %}
          </ul>

        </div>

        <hr>
        <h3>{% trans 'Cancelled Tickets' %}</h3>
        <div>
            {% for ticket in cancelled_tickets %}
            <div class="ticket-wrap">
                <div class="ticket-box">
                    <div class="ticket {{ ticket.payment_status }} {{ ticket.option.event_type }} ticket-left">
                        <div class="ticket-title ticket-header">{{ ticket.option.event_type|title }}</div>
                            <p class="info-title">NAME</p>
                            <span class="info-text">{{ ticket.name }}</span>

                            <p class="info-title">TICKET OPTION</p>
                            <span class="info-text">{{ ticket.option.name }}</span><br>

                            <p class="info-title">TICKET STATUS</p>
                            <span class="status-text">{{ ticket.payment_status }}</span><br>
                      </div>
                      <div class="ticket {{ ticket.payment_status }} {{ ticket.option.event_type }} ticket-right">
                          <div class="ticket-title ticket-header">PyCon.KR</div>
                          <p class="info-title">PERIOD</p>
                          <span class="info-text">
                            {% if ticket.option.event_type == 'conference' %}
                                2018.08.18 - 19
                            {% else %}
                                -
                            {% endif %}
                          </span>
                      </div>
                  </div>
              </div>
              {% endfor %}
        </div>

    {% endif %}
</div>
{% endblock %}
