main {
  padding: 130px 0 200px;
  min-height: 100%;
}

section {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 4px;
}

.tilt-counterclock {
  -webkit-transform: skewY(-11deg);
  transform: skewY(-11deg);
  transform-origin: 0;
}

.tilt-clock {
  -webkit-transform: skewY(11deg);
  transform: skewY(11deg);
  transform-origin: 0;
}

.gradient-bg {
  background: linear-gradient(90deg, #491faf, #771592, #a20a77);
}

/** header **/
.header-bg {
  min-height: 685px;
  padding: 160px 0;
  overflow: hidden;
  margin-bottom: -100px;
}

.transparent-gradient-bg div {
  background: linear-gradient(90deg, rgba(73, 31, 175, 0.2), rgba(119, 21, 146, 0.2), rgba(162, 10, 119, 0.2));
  position: absolute;
  width: 100%;
  margin-top: 10px;
}

.transparent-gradient-bg :first-child {
  transform-origin: bottom;
  transform: skewY(-8deg);
}

.transparent-gradient-bg :last-child {
  transform-origin: right;
  transform: skewY(5deg);
  max-width: 100%;
}

header {
  padding-bottom: 120px;
  color: white;
  position: relative;
}

header h1 {
  letter-spacing: initial;
  font-size: 6rem;
  margin-bottom: 2rem;
}

header h1 span {
  font-weight: 300;
  font-family: inherit;
}

header p {
  font-size: 1rem;
}

header p span {
  margin-right: 20px;
}

header p span:last-child {
  margin-right: 0;
}

/** header lines **/
.bg-lines span {
  position: absolute;
  border-radius: 500px;
}

.bg-lines :first-child {
  width: 37%;
  height: 75px;
  top: 25px;
  left: 17%;
  background: linear-gradient(90deg, #ffffff40, #ffffff00);
}

.bg-lines :nth-child(2) {
  width: 70%;
  height: 85px;
  top: -30px;
  left: 33%;
  background: #7b138f;
}

.bg-lines :nth-child(3) {
  width: 33%;
  height: 10px;
  top: 180px;
  left: 70%;
  background: linear-gradient(90deg, #ffffff2b, #ffffff00);
}

.bg-lines :nth-child(4) {
  width: 10px;
  height: 10px;
  top: 180px;
  left: 68%;
  background: #ffffff2b;
}

.bg-lines :nth-child(5) {
  width: 70%;
  height: 85px;
  top: 300px;
  left: 55%;
  background: #a20b78;
}

.bg-lines :nth-child(6) {
  width: 47%;
  height: 85px;
  top: 400px;
  left: -100px;
  background: linear-gradient(90deg, #3a139d, #4920af00);
}

.bg-lines :nth-child(7) {
  width: 20%;
  height: 10px;
  top: 520px;
  left: 4%;
  background: linear-gradient(90deg, #ffffff14, #ffffff00);
}

.bg-lines :nth-child(8) {
  width: 10px;
  height: 10px;
  top: 520px;
  left: 2%;
  background: #ffffff14;
}

/** text **/
main h3 {
  color: #303030;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main h3:after {
  border-style: solid;
  border-image: linear-gradient(to right, #3b4ec7 20%, #771592 30%, #f21e87 100%);
  border-image-slice: 1;
  border-width: 0 0 2px 0;
  content: "";
  display: block;
  padding-top: 3px;
}

.submit-btn {
  display: inline-block;
  border: 1px solid #7757c4;
  width: 130px;
  border-radius: 18px;
  color: #7757c4;
  font-size: 0.7rem;
  padding: 2px 10px;
}

/** map **/
.map-box {
  height: 350px;
  background-color: black;
  position: relative;
}

.map-box-container {
  position: relative;
  margin: 0 auto;
}

/** media query **/
@media (max-width: 1024px) {
  .transparent-gradient-bg div {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .transparent-gradient-bg div {
    margin-top: 65px;
  }

  header p span {
    margin-right: 10px;
  }
}
@media (max-width: 640px) {
  .header-bg {
    padding-bottom: 90px;
  }

  .transparent-gradient-bg div {
    margin-top: 10px;
  }

  header h1 {
    font-size: 4.5rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  header p span {
    display: block;
    margin-right: 0;
  }

  /** header lines **/
  .bg-lines :first-child {
    width: 37%;
    height: 50px;
    top: 54px;
    left: 10%;
  }

  .bg-lines :nth-child(2) {
    width: 80%;
    height: 75px;
    top: 0;
    left: 25%;
  }

  .bg-lines :nth-child(4) {
    left: 66%;
  }

  .bg-lines :nth-child(5) {
    height: 65px;
    left: 53%;
  }

  .bg-lines :nth-child(6) {
    height: 65px;
    top: 380px;
    left: -50px;
  }

  .bg-lines :nth-child(7) {
    top: 470px;
  }

  .bg-lines :nth-child(8) {
    top: 470px;
    left: 1%;
  }
}
@media (max-width: 500px) {
  .header-bg {
    min-height: 650px;
  }

  header h1 {
    font-size: 3.5rem;
  }
}
.align-left {
  text-align: left;
}
