<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>파이콘 한국 2017 - Teaser</title>
  <meta property="og:site_name" content="파이콘 한국 2017">
  <meta property="og:title" content="파이콘 한국 2017">
  <meta property="og:url" content="https://www.pycon.kr/2017/">
  <meta property="og:image" content="https://www.pycon.kr/2017/static/image/pyconkr-2017-cover.png">
  <meta property="og:description" content="파이콘 한국 2017: 8월 12~15일 코엑스">

  <link rel="icon" type="image/png" href="{% static 'image/favicon2017.ico' %}">

  <link href="{% static 'components/slick-carousel/slick/slick.css' %}" rel="stylesheet">
  <link href="{% static 'components/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet">
  <link href="{% static 'css/pyconkr-teaser.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'components/slick-carousel/slick/slick.min.js' %}"></script>
  <script src="{% static 'js/teaser.js' %}"></script>
</head>
<body>
  <div style="background: linear-gradient(90deg, #491faf, #771592, #a20a77); height: 550px;">
    <nav id="navbar">
      <ul class="nav">
        <li style="display: inline-block;">
          <a href="#" class="navbar_link">개요</a>
        </li>
        <li style="display: inline-block;">
          <a href="#slogan" class="navbar_link">슬로건</a>
        </li>
        </li>
      </ul>
    </nav>

    <div id="badges" style="position: relative">
      <img style="position: absolute; width: 200px; right: 0;" src="{% static 'image/stripe-logo.png' %}">
      <img style="position: absolute; width: 200px; left: 0; top: 300px;" src="{% static 'image/dotted-fill-logo.png' %}">
    </div>
    <header id="header">
      <img style="width: 620px;" src="{% static "image/pyconkr-2018-slogan.png" %}"></img>
      <h3>
        <span>파이콘 한국 2018</span>
        <span>서울, 코엑스</span>
      </h3>
    </header>

    <div class="box-container">
      <div class="box notice-box">
        <div>
          <div class="title-text title-underline">발표자모집</div>
          <p>다양한 분야의 파이썬 관련 발표를 모집받고 있습니다.</p>
          <p>시빅해킹 (생활, 환경, 정치, 언론)</p>
          <p>홈 IoT 구</p>
        </div>
        <div>헤헤</div>
      </div>
    </div>
  </div>

  <div class="box-container box-top-margin">
    <div class="title-text title-underline">장소</div>
      <p class="title-text">서울 코엑스 그랜드볼륨</p>
      <div class="box">
        지도
      </div>
    </div>
  <div>

  <div class="box-container">
    <div class="title-text title-underline">행사 상세</div>
      <p>파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 장입니다.</p>
    </div>
  <div>

  <footer>
    <div class="main-grid">
      <img class="footer-logo" src="../../static/image/pyconkr2017-logo.png">
      <div class="footer-content">
      <h3>Back to the Basic at PyCon Korea 2017</h3>
      PyCon Korea 2017 is a product of PyCon Korea Organizing Team
    </div>
    </div>
  </footer>
</body>
</html>
