<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>파이콘 한국 2017 - Teaser</title>
  <meta property="og:site_name" content="파이콘 한국 2018">
  <meta property="og:title" content="파이콘 한국 2018">
  <meta property="og:url" content="https://www.pycon.kr/2018/">
  <meta property="og:image" content="https://www.pycon.kr/2018/static/image/pyconkr-2018-cover.png">
  <meta property="og:description" content="파이콘 한국 2018: 8월 15, 17~19일 코엑스">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="icon" type="image/png" href="{% static 'image/favicon2017.ico' %}">

  <link href="{% static 'components/slick-carousel/slick/slick.css' %}" rel="stylesheet">
  <link href="{% static 'components/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet">
  <link href="{% static 'css/pyconkr-teaser.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'components/slick-carousel/slick/slick.min.js' %}"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=sMW7tOAADWjqWohLWnR4"></script>
  <script src="{% static 'js/teaser.js' %}"></script>
</head>
<body>
<nav class="home-nav">
    <ul>
      <li>
        <a href="#home">개요</a>
      </li>
      <li>
        <a href="#notice">공지</a>
      </li>
    </ul>
  </nav>
<div class="teaser-bg header-bg">
  <div id="badges" style="position: relative">
    <img class="badge-stripe-logo" src="{% static 'image/stripe-logo.png' %}">
    <img class="badge-dotted-fill-logo" src="{% static 'image/dotted-fill-logo.png' %}">

    <img class="badge-etc1" src="{% static 'image/etc-badge1.png' %}">
    <img class="badge-etc2" src="{% static 'image/etc-badge2.png' %}">
  </div>
  <header class="teaser-header z-index-1" id="home">
    <img class="img-slogan" src="{% static 'image/pyconkr-2018-slogan.png' %}">
    <div class="box header-box white-text">
      <p>파이콘 한국 2018</p>
      <span>서울, 코엑스</span><br>
      <span class="margin-right-20"><b>스프린트</b> 2018.08.15(수), 17(금)</span>
      <span class="margin-right-20"><b>튜토리얼</b> 2018.08.17(금)</span>
      <span><b>컨퍼런스</b> 2018.08.18 - 19(토-일)</span>
    </div>
  </header>

  <div class="box-container" id="notice">
    <div class="box notice-box">
      <img class="badge-dashed-logo" src="{% static 'image/dashed-logo.png' %}">
      <div class="js_slick">
        <div>
          <div class="title-text title-underline">발표자모집</div>
          <p class="desc-text">
            파이콘 한국 2018의 슬로건은 파이썬이 다양한 분야에서 쓰인다는 의미의 "Dive into Diversity" 입니다.<br>
            다양한 분야의 파이썬 관련 발표를 모집받고 있습니다.
          </p>
          <p class="sub-title-text">시빅해킹 (생활, 환경, 정치, 언론)</p>
          <p class="sub-title-text">예술 (Procedural Art, 3DSmax|Maya|Houdini|Blender Script)</p>
          <p class="sub-title-text">홈 IoT 구축</p>
          <p class="sub-title-text">식물 자동 재배</p>
          <p class="sub-title-text">주식 트레이닝 알고리즘</p>
          <a class="submit-btn margin-top-20" href="https://goo.gl/R7hwcj">발표자 신청하기</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box-container box-top-margin z-index-1" id="venue">
  <img class="badge-dotted-logo" src="{% static 'image/dotted-logo.png' %}">
  <div class="title-text title-underline">장소</div>
  <p class="title-text">서울 코엑스 그랜드볼륨</p>
  <div class="box map-box z-index-1" id="map">
  </div>
</div>


<div class="box-container">
  <div class="title-text title-underline">행사 상세</div>
  <p class="desc-text">
    파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 장입니다.<br>
    아직 티켓 판매 일정은 정해지지 않았습니다. 추후 공식 페이스북, 트위터 등을 통해서 공지할 예정입니다.
  </p>
</div>

<img class="badge-incline-logo" src="{% static 'image/incline-logo.png' %}">
<div class="box-container teaser-bg slogan-bg" id="slogan">
  <div class="mask-black"></div>
  <div class="mask-content">
  <div class="title-text title-underline white-text white-underline">슬로건</div>
  <div class="slogan-text white-text">'Dive into Diversity<br>다양성에 빠지다'</div>
  <div class="box slogan-box">
    <p class="desc-text slogan-desc-text white-text">
      파이콘 한국 2018은 ‘Dive into Diversity 다양성에 빠지다’ 라는 슬로건으로 진행됩니다.<br><br>
      파이썬 커뮤니티는 다양한 기술, 개성 및 경험을 갖추고 있는 전세계 구성원들이 서로의 차이를 존중하고,
      다른 견해에 귀를 기울이며, 올바른 상호작용을 통해 성장하는 커뮤니티를 지향해왔습니다.<br><br>
      파이콘 한국 2018에서는 다양한 사람들이 다양한 상황과 분야에서 다양한 의도를 가지고 파이썬과 만났던 사례를 공유합니다.
      또한 우리가 원하는 것을 이루고 문제를 해결하는 도구로서, 파이썬이 어떻게 쓰이고 있는지 조명하려고 합니다.
      파이콘 한국 2018을 통해 서로 다른 견해와 경험을 접하며, 생각의 경계를 허물고 새로운 아이디어를 발견하는 계기가 되었으면 합니다.
    </p>
  </div>
    </div>
</div>

<div class="box-container" id="contact">
  <div class="title-text title-underline">문의&공식계정</div>
  <div>파이콘 한국 2018에 대한 모든 문의는 아래의 공식 연락처로 주시기 바랍니다.</div>
  <div class="contact-box">
    <table class="table-contact">
    <tr>
      <td>
        이메일<br>
        support@pycon.kr
      </td>
      <td>
        페이스북<br>
        https://www.facebook.com/pyconkorea/
      </td>
    </tr>
    <tr>
      <td>
        스폰서<br>
        sponsor@pycon.kr
      </td>
      <td>
        트위터<br>
        https://twitter.com/pyconkr
      </td>
    </tr>
  </table>
  </div>

</div>

<footer>
  <div class="main-grid">
    <div class="footer-content">
      <h3>Dive into Diversity, PyCon Korea 2018</h3>
      PyCon Korea 2018 is a product of PyCon Korea Organizing Team
    </div>
  </div>
</footer>
</body>
</html>
