<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>파이콘 한국 2017 - Teaser</title>
  <meta property="og:site_name" content="파이콘 한국 2017">
  <meta property="og:title" content="파이콘 한국 2017">
  <meta property="og:url" content="https://www.pycon.kr/2017/">
  <meta property="og:image" content="https://www.pycon.kr/2017/static/image/pyconkr-2017-cover.png">
  <meta property="og:description" content="파이콘 한국 2017: 8월 12~15일 코엑스">
  <link rel="icon" type="image/png" href="{% static "image/favicon2017.ico" %}">
  <link href="{% static "css/pyconkr-teaser.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
  <div style="background: linear-gradient(90deg, #491faf, #771592, #a20a77); height: 550px;">
    <nav id="navbar">
      <ul class="nav">
        <li style="display: inline-block;">
          <a href="#summary" class="navbar_link">개요</a>
        </li>
        <li style="display: inline-block;">
          <a href="#slogan" class="navbar_link">슬로건</a>
        </li>
        </li>
      </ul>
    </nav>

    <div id="badges" style="position: relative">
      <img style="position: absolute; width: 200px; right: 0;" src="{% static "image/stripe-logo.png" %}"></img>
      <img style="position: absolute; width: 200px; left: 0; top: 300px;" src="{% static "image/dotted-fill-logo.png" %}"></img>
    </div>
    <header id="header">
      <img style="width: 620px;" src="{% static "image/pyconkr-2018-slogan.png" %}"></img>
      <h3>
        <span>파이콘 한국 2018</span>
        <div>서울, 코엑스</div>
      </h3>
    </header>

    <div>
      <div style="height: 400px; width: 700px; background-color: white; margin: 0 auto; box-shadow: 0 4px 30px 3px rgba(0,0,0,0.12)">
        발표자 모집
      </div>
    <div>
  </div>

  <footer>
    <div class="main-grid">
      <img class="footer-logo" src="../../static/image/pyconkr2017-logo.png">
      <div class="footer-content">
      <h3>Back to the Basic at PyCon Korea 2017</h3>
      PyCon Korea 2017 is a product of PyCon Korea Organizing Team
    </div>
    </div>
  </footer>
</body>
</html>
