{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
    <div>

        {% if is_registered %}
            <div>
                <p>이미 등록되었습니다.</p>
                <p>
                    <a href='{% url 'registration_status' %}'>등록 확인하기</a>
                </p>
            </div>
        {% else %}
            {% if not options %}
                <div>등록 기간이 아닙니다</div>
            {% else %}
                <div>
                    {% for option in options %}
                        <div>
                            <h3>{{ option.name }}</h3>
                            <p>{% autoescape off %}{{ option.description }}{% endautoescape %}</p>
                            <p>Price: {{ option.price|intcomma }} KRW</p>
                            <p>
                            {% if option.is_sold_out %}
                                <div class="btn btn-info">
                                    {{ option.name }}-SOLD OUT
                                </div>
                            {% elif option.is_opened %}
                                <a href='{% url 'registration_payment' option.id %}' class="btn btn-primary">
                                    {{ option.name }}
                                </a>
                            {% else %}
                                <div>등록 기간이 아닙니다.</div>
                                <div>티켓 등록: {{ option.begin_at|date:"Y년 M d일 D a g" }}시 부터 {{ option.closed_at|date:"M d일 D a g" }}시 까지</div>
                            {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
