{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
    <div>
        <div>
            <h1>등록 안내</h1>

            <p>파이콘 한국 2018 티켓은 18일(토)~19일(일) 양일간 진행되는 컨퍼런스 참가를 위한 티켓이며, 15일(수), 17일(금) 양일간 진행되는 컨퍼런스/튜토리얼은 별도의 참가 신청을 받을 예정입니다.</p>
            <p></p>
            <p>
                <span style="font-weight: 700; line-height: 27.52px;">파이콘 한국 2017 티켓은 현장판매를 진행하지 않습니다.</span>&nbsp;
                꼭 파이콘 한국 공식홈페이지에서 구매해주세요.
            </p>
            <p>파이콘 한국 2017 티켓은 아래와 같은 종류로 판매됩니다.</p>
            <p><br></p>

            <h3>얼리버드 티켓</h3>
            <p>프로그램 상세 내용이 정해지기도 전에 파이콘에 대한 애정만으로 남들보다 일찍 티켓을 구매하시는 분들을 위한 할인 티켓입니다. 한정된 수량을 제한된 기간 동안 판매하며 일반 티켓 가격에서 할인된 가격으로 판매합니다.&nbsp;</p>
            <ul>
                <li>
                    <font color="#ce0000"><b>얼리버드 티켓은 환불이 불가합니다.</b></font> (개인과 개인 간에 양도는 가능하며, 입장시에는 이메일, 구매자 성명 등으로 확인합니다.)
                </li>
                <li>준비된 수량이 모두 소진되면 조기 종료될 수 있습니다.&nbsp;</li>
            </ul>
            <p><br></p>
            <h3>후원 티켓</h3>
            <p>
                파이콘은 참가하는 "모든" 사람(준비위원회, 자원봉사자, 발표자까지도)이 티켓을 구매하는 것을 원칙으로 합니다. 그렇게 하여 모든 참가자들이 정당한 가격을 지불하고 동등한 자격으로 행사의 일부가 되도록 하는 것이 파이콘의 중요한 철학 중 하나입니다. [<a href="http://jessenoller.com/blog/2011/05/25/pycon-everybody-pays">Everybody Pays</a>]<br><br>
                하지만 현실적으로, Everybody Pays라는 파이콘의 철학이 금전적인 장애물이 되어 티켓을 지불할 수 있는 여유가 있는 사람으로만 참가 대상을 한정하는 것 역시 또다른 차별이 될 수 있습니다.<br><br>
                이런 모순을 해결하기 위해 파이콘에서는 [<a href="/registration/finacial-aid/">재정 지원</a>] 프로그램을 운영하여 금전적인 이유로 파이콘에 참석하기 힘든 분들에게 제한적이나마 도움을 드리고 있으며, 운영위원회에서 준비한 예산에 추가로 후원 티켓 판매 대금 *전액*을 [<a href="/registration/finacial-aid/">재정 지원</a>] 예산으로 사용하고 있습니다.<br><br>
                후원 금액은 지정된 금액 이상 자율적으로 지정이 가능하며 후원 금액에 상관없이 1장의 파이콘 한국 2017 티켓을 제공하며 <font color="#ce0000"><b>양도나 취소, 환불이 불가능함</b></font>을 알려드립니다.
            </p>
            <p><br></p>
            <h3>일반 티켓</h3>
            <p>일반 티켓은 얼리버드 판매 시기를 놓친 분들을 위한 티켓입니다. 얼리버드 티켓이 매진되거나 판매 기간이 지난 후 구매하실 수 있습니다.</p>
            <p><br></p>
            <p></p>
        </div>

        {% if is_registered %}
            <div>
                <p>이미 등록되었습니다.</p>
                <p>
                    <a href='{% url 'registration_status' %}'>등록 확인하기</a>
                </p>
            </div>
        {% else %}
            {% if not options %}
                <div>등록 기간이 아닙니다</div>
            {% else %}
                <div>
                    {% for option in options %}
                        <div>
                            <h3>{{ option.name }}</h3>
                            <p>{% autoescape off %}{{ option.description }}{% endautoescape %}</p>
                            <p>Price: {{ option.price|intcomma }} KRW</p>
                            <p>
                            {% if option.is_soldout %}
                                <div class="btn btn-info">
                                    {{ option.name }}-SOLD OUT
                                </div>
                            {% elif option.is_opened %}
                                <a href='{% url 'registration_payment' option.id %}' class="btn btn-primary">
                                    {{ option.name }}
                                </a>
                            {% else %}
                                <div>등록 기간이 아닙니다.</div>
                                <div>티켓 등록: {{ option.begin_at|date:"Y년 M d일 D a g" }}시 부터 {{ option.closed_at|date:"M d일 D a g" }}시 까지</div>
                            {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
